.qodo

#ignore all csv files
data/*
data/*.csv
data/*.xlsx
data/output/Freight_Analysis_Enriched_Output.csv
Freight_Analysis_Enriched_Output.csv
/app/downloads
app/freight_api.log
*.log
/app/__pycache__
/downloads
/utils/__pycache__

/notebooks/nigel/freight_output
/utils/__pycache__
/app/api/__pycache__
/app/api/__pycache__

notebooks/karabo/phase_2_implementation/archive/Part A with Supplier.xlsx
notebooks/karabo/phase_2_implementation/archive/Part A with Supplier_A.csv
notebooks/karabo/phase_2_implementation/archive/Part B with Supplier.xlsx
notebooks/karabo/phase_2_implementation/archive/Part_Export_06292025_A.xlsx
notebooks/karabo/phase_2_implementation/archive/Part_Export_06292025_B.xlsx
notebooks/karabo/phase_2_implementation/Part A with Supplier.csv
notebooks/karabo/phase_2_implementation/Part B with Supplier.csv
