.qodo

#ignore all csv files
data/*
data/*.csv
data/*.xlsx
data/output/Freight_Analysis_Enriched_Output.csv
Freight_Analysis_Enriched_Output.csv
/app/downloads
app/freight_api.log
*.log
/app/__pycache__
/downloads
/utils/__pycache__

/notebooks/nigel/freight_output
/utils/__pycache__
/app/api/__pycache__
/app/api/__pycache__
/utils/__pycache__
utils/__pycache__/data_cleaning_utils.cpython-312.pyc
utils/__pycache__/data_cleaning_utils.cpython-312.pyc
