.qodo

#ignore all csv files
data/*
data/*.csv
data/*.xlsx
data/output/Freight_Analysis_Enriched_Output.csv
Freight_Analysis_Enriched_Output.csv
/app/downloads
app/freight_api.log
*.log
/app/__pycache__
/downloads
/utils/__pycache__

/notebooks/nigel/freight_output
